<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%=filteredCategory[0].category%></title>
  </head>
  <body>
    <%- include('./partials/nav') %>
    <h1><%=filteredCategory[0].category%></h1>
    <ul>
      <% filteredCategory.forEach((item,index)=>{ %>
      <li>
        item name: <%= item.name %> <br />
        item price: <%= item.price %> <br />
        item rating: <%= item.rating %> <br />
        item details: <%= item.details %>
      </li>
      <% }) %>
    </ul>
  </body>
</html>
